.main-flex-container-messages {
  margin: auto;
    display: grid;
    grid-template-columns: 36% 64%;
  width: 70%;
  border: 1px solid #dbdbdb;
  background-color: white;
  margin-top: 5em;
}
.messages-body {
  border: 1px solid #dbdbdb;
  border-top: none;
}

.messages-head {
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.messages-head h3 {
  opacity: 0.8;
  margin-right: 18px;
}
.messages-head i {
  font-size: 28px;
  color: black;
  padding-right: 14px;
  margin-left: 0.8em;
}

.messages-area {
  width: 100%;
  margin-left: 20px;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.profile-picture {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.para-name {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.message-time {
  opacity: 0.5;
  margin: 0;
  padding: 0;
}

.send-message-container{   
    /* border: 1px solid #dbdbdb; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.send-message-container i {
    font-size: 100px;
    color: white;
    background-color: transparent
   
}
.ico-cont{
    /* padding: 10px; */
    border: 1px black solid;
    border-radius: 50%;
    background-color:black;
}
.your-messages{
    font-size: 24px;
    padding: 4px;
    margin: 0;
}
.para-send{
    font-size: 16px;
    padding: 0;
    margin: 0;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
}
.btn .btn-primary{
    border: 1px solid transparent;
    background-color: #0095f6;
    background-color: rgba(var(--d69,0,149,246),1);
    border-radius: 4px;
    color: #fff;
    color: rgba(var(--eca,255,255,255),1);
    position: relative;
    
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    width: auto;    

}


/* Media Queries*/

@media screen and (max-width: 1000px) {
    .messages-body {
      width: 260px;
    }
    .send-message-container{
        height: 80vh;
}
}
@media screen and (max-width: 963px) {
    .send-message-container {
        width: 50%;
        margin: auto;
}
}
@media screen and (max-width: 778px) {
    .send-message-container {
        width: 30%;
        margin-right: 50px;
}
}
@media screen and (max-width: 552px) {
    .send-message-container {
        display: none;
}
}
